<%- include("partials/header") %>
<div id="container-fluid">
    <div>
        <h1 class="text-center">Projects Level Up</h1>
        <p class="text-center text-justify">Fique por dentro dos projetos em ascensão e as pessoas que os impulsionam.</p>
    </div>
</div>
<%- include("partials/footer") %>